<!doctype html>
<html>

  <head>
    <meta charset="utf-8" />
    <style type="text/css">
      body,html,#container{
        height: 100%;
        margin: 0px;
      }
    </style>
    <title>快速入门</title>
  </head>
  <body>
    <div id="container" tabindex="0"></div>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.0&amp;key=2adcfdf4941670d203df1e51ca16dd61"></script>
    <script type="text/javascript">
	    var marker = new AMap.Marker({
	        position: [116.480983, 39.989628],//marker所在的位置
	        map:map//创建时直接赋予map属性
	    });
	    //也可以在创建完成后通过setMap方法执行地图对象
	    marker.setMap(map);
    </script>
  </body>
</html>